#root{
    margin-left: 2px
}
.body-home {
    align-items: center;
}

.title_home {
    /* Chez vous, partout et ailleurs */
    position: absolute;
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 142.6%;
    left: 51%;
    top: 39%;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    text-align: center;
}

.title_img img{
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0,0,0,.5);
    z-index: 2;
    border-radius: 25px;
}

/* BACKGROUND LOCATIONCARD - HOME PAGE and IMG background */
.ackground_container, .background_title{
    width: 87%;
    margin: 20px auto;
    background: #F7F7F7;
    border-radius: 25px;
}

.location-card-info {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 375px) {

    /* STYLE - IMG HEADER HOME PAGE */

     .title_img img {
        width: 335px;
        height: 111px;
    } 

    .background_title {
        width: 335px;
        height: 111px;
        margin-bottom: -20%;
        margin-left: 5%;
    }

    .title_home {
        right: 60%;
        /* left: 60%; */
        top: 25%;
        /* bottom: 80.05%; */
        bottom: 50.05%;
        font-size: 21px;
        line-height: 100%;
        text-align: center;
    }

     .bgd {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.5);
        z-index: 2;
    } 


    /* BACKGROUND LOCATIONCARD - HOME PAGE */
    .ackground_container {
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background: none;
        border-radius: 25px;
        margin-left: -20px;
    }

    .location-card-info {
        display: flex;
        flex-direction: column;
        margin-left: -20px;
    }
}