.home{
max-width: 1400px;
}

.navbar{
    width: 95%;
    margin: 25px;
    padding-top: 25px;
}

.logo{
    width: 50%;
}

.body-home {
    align-items: center;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}


/* BACKGROUND LOCATIONCARD - HOME PAGE and IMG background */
.img_title{
    /* parent */
    position: relative;
    width: 100%;
    height: 159px;
}

.back_img{
    /* child 1 */
    position: absolute;
    width: 100%;
    height: 159px;
    top: 0;
    left: 0;
    opacity: 0.7;
    border-radius: 15px;
}

.back_title{
    /* child 2 */
    width: 100%;
    background:rgb(84 89 102 / 50%);
    z-index: 2;
}

.title_home {
    /* Chez vous, partout et ailleurs */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    height: max-content;
    position: absolute;
    width: 100%;
    top: 8%;
    font-size: 47px;
    text-align: center;
    color: #FFFFFF;
}

.back_img img{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 15px;
    object-fit: cover;
}

.background_container{
    width: 100%;
    margin-top: 18px;
    background: #F7F7F7;
    border-radius: 15px;
}

.location-card-info {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 650px) {
    .body-home {
        width: 94%;
        margin: 18px;
    }
    .title_home{
        width: 100%;
        top: 13%;
        font-size: 37px;
        }
}
@media (max-width: 460px) {
    .body-home {
        width: 91%;
        margin: 18px;
    }

    .navbar{
        width: 90%;
     }

    .title_home{
    width: 100%;
    top: 13%;
    font-size: 32px;
    }
}

@media (max-width: 375px) {
 body{
    width: 375px;
 }
 .home{
    width: 100%;
 }

 .navbar{
    width: 89%;
 }

 .body-home{
    width: 89%;
    margin: 18px;
 }

    /* STYLE - IMG HEADER HOME PAGE */
    .img_title {
        z-index: 0;
        height: 111px;
    }

    .back_img{
height: 111px;
    }

    .back_img img {
        object-fit: cover;
    } 

    .back_title{
        background:rgb(84 89 102 / 50%);
        z-index: 2;
    }

    .title_home {
        height: max-content;
        width: 54%;
        left: 10%;
        top: 13%;
        font-size: 23px;
        text-align: left;
    }


    /* BACKGROUND LOCATIONCARD - HOME PAGE */
    .background_container {
        width: 100%;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        border-radius: 15px;
    }

    .location-card-info {
        display: flex;
        flex-direction: column;
    }
}