.error h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 288px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FF6060;
    justify-content: center;
    margin-block-start: 2rem;
    margin-block-end: 0.17rem;
}

.error p {
    /* Oups! La page que vous demandez n'existe pas. */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FF6060;
    justify-content: center;
    margin-top: 50px;
}

.backhome {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;
    text-align: center;
    justify-content: center;
    margin-top: 14%;
    color: #FF6060;

}

@media (max-width: 575px) {
    .error h1 {
        font-size: 165px
    }
}


@media (max-width: 375px) {
    .error h1 {
        /* 404 */
        font-size: 96px;
        text-align: center;
    }

    .error p {
        /* Oups! La page que vous demandez n'existe pas. */
        font-size: 20px;
        width: 218px;
        margin-left: 3rem;
    }

    .backhome {
        font-size: 14px;
        margin-top: 34%;
    }
}