.footer {
    position: relative;
    width: 100%;
    height: 138px;
    background: #000000;
}

.footer img {
    margin-top: 33px;
    width: 120px;
    margin-left: 46%;
}

.footer p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}


@media (max-width: 375px) {
    .footer {
        height: 115px;
    }

    .footer img {
        height: 39.44px;
        width: 182px;
        margin-left: 100px;
    }

    .footer p {
        font-size: 12px;
        margin-block-end: 0;
    }
}