/* GENERAL */
.navbar {
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.nav img {
    width: 250px;
}

/* MENU */

.list-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 46%;
    justify-content: space-between;
}

.navli {
    font-family: "Montserrat", sans-serif;
}

.navli :active {
    text-decoration-line: underline;
    color: #FF6060;
}

.nav {
    color: #FF6060;
    text-decoration: none;
    text-decoration-line: none;
}


@media (max-width: 375px) {

    .navbar {
        margin-top: 24px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    .logo{
        width: 54%;
    }

   .nav img {
        width: 70%;
    } 
    
    .navli {
        text-transform: uppercase;
        font-size: small;
    }
    
}
