.accommodation_page {
    align-items: center;
    margin-top: 0.4rem;
}

.slideshow_location {
    width: 100%;
}

.slideshow_location img {
    border-radius: 30px;
    width: 100%;
    height: 357px;
    object-fit: cover;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.location_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.location_subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-container-tag {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5rem;
}

.main-container-stars {
    display: flex;
    flex-direction: row;
}

.main-container-accordion {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* TITLE PAGE - LOCATION NAME*/
.title_locationpage {
    font-weight: 400;
    font-size: 33px;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    margin-block-start: 1rem;
    margin-block-end: 0.2em;
}

/* SUBTITLE PAGE - LOCATION LOCALISATION*/
.subtitle_locationpage {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}

.list {
    flex-direction: column;
}



@media (max-width: 680px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }

    .location_subheader {
        flex-direction: row-reverse;
        height: 71px;
    }
}

@media (max-width: 462px) {
    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .location_subheader {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }

    .title_locationpage {
        font-size: 22px;
    }
}

@media (max-width: 375px) {
    .slideshow_location img {
        height: 205px;
    }

    .accommodation_page {
        margin: 0;
        width: 100%;
    }

    .slideshow_location {
        margin-top: 1rem;
    }

    .presentation {
        flex-direction: column;
    }

    .location_subheader {
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 30px;
    }

    .location_header {
        flex-wrap: wrap;
        width: 100%;
    }

    .title_locationpage {
        font-size: 18px;
    }

    .subtitle_locationpage {
        font-size: 14px;
    }

    .main-container-tag {
        justify-content: left;
    }

    .main-container-stars {
        width: 55%;
    }

    .main-container-accordion {
        flex-direction: column;
        margin-bottom: 0;
    }

    .accordion-container-left,
    .accordion-container-right {
        margin-bottom: 5%;
        width: 100%;
    }
}