.tag {
    background: #FF6060;
    border-radius: 10px;
    width: 120px;
    height: 36px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    margin-right: 10px;
}

.tag-content {
    text-align: center;
}

@media (max-width: 375px) {
    .tag {
        width: 87px;
        height: 23.5px;
        text-align: center;
        align-items: center;
        font-size: 10px;
        line-height: 8px;
    }
}